@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1558315018866'); /* IE9 */
  src: url('iconfont.eot?t=1558315018866#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1558315018866') format('woff'),
  url('iconfont.ttf?t=1558315018866') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1558315018866#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e727";
}

.icon-shoppingcart:before {
  content: "\e607";
}

.icon-weibo:before {
  content: "\e699";
}

.icon-youxiang:before {
  content: "\e69d";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-minus-circle-fill:before {
  content: "\e844";
}

.icon-right-circle-fill:before {
  content: "\e845";
}

.icon-plus-circle-fill:before {
  content: "\e846";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-taobao:before {
  content: "\e87d";
}

.icon-apple:before {
  content: "\e87e";
}

.icon-android:before {
  content: "\e87f";
}

.icon-windows:before {
  content: "\e880";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-shoujihao:before {
  content: "\e62b";
}

